<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.UserInfoDao">
    <!--<select id="selectDepartmentBypage" resultType="com.example.demo.data.Department">-->
        <!--select * from (-->
        <!--select row_.*, rownum rownum_ from-->
        <!--(select * from Department-->
        <!--order by rownum asc )-->
        <!--row_ )-->
        <!--<![CDATA[-->
        <!--where rownum_ <= #{end}  and rownum_ > #{begin}-->

        <!--]]>-->
    <!--</select>-->
    <select id="selectUserInfoBypage" resultType="com.example.demo.data.UserInfo"  >
        SELECT *
        FROM USER_INFO

    </select>

    <delete id="delectById">
        DELETE
        FROM USER_INFO
            <where>
                id = #{id}
            </where>
    </delete>



    <!--更新UserInfo-->
    <update id="updateUserInfo"  parameterType="com.example.demo.data.UserInfo">
        update USER_INFO
        set age = #{age},
         name = #{name},
         phone = #{phone},
         sex = #{sex}
        where id = #{id}
    </update>


    <!--会员注册-->
    <insert id="addUserInfo"  parameterType="com.example.demo.data.UserInfo">
        INSERT INTO USER_INFO (id,name,phone,age,sex,create_time,remark)
        VALUES (#{id},#{name},#{phone},#{age},#{sex},#{createTime},#{remark})


    </insert>


</mapper>